<div class="card">
  <div class="card-header">
    Order items

    <span class="badge text-bg-primary"><%= order_items.size %></span>
  </div>

  <ul class="list-group list-group-flush">
    <%= render partial: 'order_items/order_item', collection: order_items %>
  </ul>
</div>
