<div class="card">
  <div class="card-header">
    Order items
  </div>

  <ul class="list-group list-group-flush">
    <%= render partial: 'order_items/order_item', collection: order_items %>
  </ul>
</div>
