<li class="list-group-item">
  <div class="row">
    <div class="col">
      <%= order_item.name %>
    </div>

    <div class="col text-end">
      <strong><%= number_to_currency(order_item.unit_price) %></strong> x <%= order_item.quantity %>
    </div>

    <div class="col text-end">
      <strong><%= number_to_currency(order_item.total) %></strong>
    </div>
  </div>
</li>
